header {
    color: white;
    background-color: rgb(0, 126, 165);
    font-family: sans-serif;
    padding: 25px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 650px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
}

nav {

    background-color: rgb(224, 224, 224);
    text-align: center;
    padding-left: 100px;
    padding-right: 500px;
    position: fixed;
    top: 200px;
    right: 0px;
    left: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar {
    color: rgb(41, 41, 41);
    font-family: sans-serif;
    font-weight: bold;
}

aside {
    float: right;
    width: 350px;
    margin-top: 250px;
}

h2 {
    font-style: italic;
    font-weight: lighter;
}

h3 {
    color: rgb(41, 41, 41);
    font-family: sans-serif;
}

p {
    color: rgb(41, 41, 41);
    font-family: sans-serif;
}

a {
    color: rgb(0, 160, 209);
    font-family: sans-serif;
    text-decoration: none;
}

figure {
    margin-left: 0px;
}

figcaption {
    color: rgb(41, 41, 41);
    font-family: sans-serif;
    margin-bottom: 15px;
}
