/*HEADER AND NAVBAR*/
header {
    color: white;
    background-color: rgb(0, 126, 165);
    font-family: sans-serif;
    padding: 25px;
    padding-bottom: 50px;
    padding-left: 10%;
}

nav {
    background-color: rgb(224, 224, 224);
    padding-left: 10%;
    padding-right: 40%;
    position: absolute;
    top: 185px;
    right: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    color: rgb(41, 41, 41);
    font-family: sans-serif;
    font-weight: bold;
}

/*MAIN BODY*/
body {
    margin: 0;
    padding: 0;
}

aside {
    float: right;
    width: 350px;
}

h2 {
    font-style: italic;
    font-weight: lighter;
}

h3 {
    color: rgb(41, 41, 41);
    font-family: sans-serif;
}

p {
    color: rgb(41, 41, 41);
    font-family: sans-serif;
}

a {
    color: rgb(0, 160, 209);
    font-family: sans-serif;
    text-decoration: none;
}

figure {
    margin-left: 0px;
}

figcaption {
    color: rgb(41, 41, 41);
    font-family: sans-serif;
    margin-bottom: 15px;
}

.maincontainer {
    display: flex;
    gap: 5rem;
    margin-top: 2rem;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.mainheader {
    color: rgb(0, 160, 209);
    font-family: sans-serif;
    font-weight: bold;
}

.quote {
    color: rgb(0, 160, 209);
    font-weight: lighter;
    margin-top: 10%;
    margin-bottom: 0px;
}

.jeremy {
    color: rgb(0, 160, 209);
    font-style: italic;
    font-weight: lighter;
    margin-top: 5px;
    margin-bottom: 10%;
}

/*FOOTER*/
footer {
    background-color: rgb(54, 54, 54);
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
    bottom: 0;
}

.container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 3em;
}

.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footertext {
    color: white;
    font-weight: lighter;
    text-align: center;
}

.footernav {
    color: white;
}

.footerimg {
    display: block;
    margin: auto;
    width: 50%;
}